# ------------------------------------
# 1. СИСТЕМНЫЕ ФАЙЛЫ
# ------------------------------------
.DS_Store                 # Файлы macOS
Thumbs.db                 # Файлы Windows

# ------------------------------------
# 2. ВИРТУАЛЬНОЕ ОКРУЖЕНИЕ (КРИТИЧНО)
# ------------------------------------
# Имя папки, которое мы использовали для окружения
venv/
*.venv

# ------------------------------------
# 3. КОНФИДЕНЦИАЛЬНЫЕ ДАННЫЕ (КРИТИЧНО)
# ------------------------------------
# НЕ ДОЛЖНЫ БЫТЬ В GIT! Тут лежат пароли и ключи.
.env
.flaskenv

# ------------------------------------
# 4. ФАЙЛЫ PYTHON
# ------------------------------------
# Скомпилированные байт-код файлы
__pycache__/
*.pyc

# Логи и временные файлы
*.log
*.tmp
.pytest_cache/

# ------------------------------------
# 5. ДАННЫЕ И ML (Большие файлы)
# ------------------------------------
# Обычно это большие файлы, которые не должны храниться в Git
# (их следует хранить в DVC, S3 или Google Drive)
*.h5
*.pth
*.pkl
*.pt
*.onnx
*.zip
*.tar.gz

# Папки для больших моделей, данных или результатов
/data/
/models/
/results/